@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

@code {
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}

@if (authState == null)
{
    <p>Loading...</p>
}
else if (authState.User.Identity.IsAuthenticated)
{
    <h1>Hello, Authorized User! </h1>
    <p>Welcome to your new app.</p>
    <h2>All Claims:</h2>
    @foreach (var claim in authState.User.Claims)
    {
        <p>@claim.Type: @claim.Value</p>
    }
}
else
{
    <h1>Hello, Guest!</h1>
    <p>Welcome to your new app.</p>
}
